@import './_variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.navbar-brand,
.card-title {
  font-family: $headings-font-family;
}

.navbar-toggler {
  &:focus {
    box-shadow: none;
  }

  .navbar-toggler-icon {
    &:hover {
      color: $primary;
    }
  }
}

.modal-container {
  max-width: 540px;

  .list-group {
    max-height: 250px;
    overflow-y: auto;
  }
}

.min-w-150 {
  min-width: 150px;
}
